<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Para rgba, a es la transparencia del color, siendo 1 la menor transparencia posible, y 0 transparencia total -->
    <h1 style="color:rgba(255,255,0,.8)">Hello World!</h1>
    <p style="color:grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p style="color: #333">Amet quia ullam, quam dicta quibusdam omnis officia, corporis ea error harum quod quas necessitatibus sequi accusantium sit rem aspernatur, nisi atque.</p>
    <p style="color: #777">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nemo eligendi eveniet repudiandae, laboriosam accusamus quisquam provident quaerat explicabo ipsam voluptate at fugiat, labore commodi? Dolorum ea pariatur recusandae accusantium.</p>

    <a href="{% url 'website_about' %}">Ir a bio</a>
</body>
</html>