<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horse List</title>
</head>
<body>
    <h1>Horse list</h1>
    <ul>
        <!-- horse_list es el json que siempre se crea con las Generic Views -->
        {% for horse in horse_list %}
        <!-- 
            generic_views hace referencia a la variable app_name declarada en urls
            :horse hace referencia a la variable/etiqueta name de un path.
        -->
        <a href="{% url 'generic_views:horse' horse.pk %}">
            <li>{{ horse.name }}</li>
        </a>
        {% endfor %}
    </ul>
</body>
</html>